img
{
    width: 600px;
    height: 600px;
}

h1
{
    font-size: 24px;
    font-weight: bold;
}

.container
{
    margin-top: 40px;
}

.campos
{
    margin-top: 10rem;
}
span
{
    //margin-left: 130px;
    color: #007bff;
    font-size: 12px;
}

span a
{
    font-weight: bold;
    text-decoration: none;
}
// hr
// {
//     width: 300px;
// }
