<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
     <img src="../assets/Vectors/undraw_mobile_login_ikmv.svg" alt="">
    </div>
    <div class="col-sm campos">
        <h1>Inicio de Sesión</h1>
        <br>
        <br>
        <!-- [formGroup]="loginForm" (ngSubmit)="onLogin()" -->
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="Ingrese su Correo Electrónico" formControlName="email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" placeholder="Ingrese su Contraseña" formControlName="password">
          </div>
          <div class="row mb-4">
              <div class="col-sm">
                  <div>
                      <span class="center">¿No tienes cuenta? <a routerLink="/registro">Registrate</a></span>
                      <!-- <hr> -->
                  </div>
              </div>
              <!-- <div class="col-sm">
                  <div>
                      <span class="center">¿Olvidaste tu contraseña? <a href="">Click aquí</a></span>
                  </div>
              </div> -->
            </div>
         
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          <!-- <button type="submit" class="btn btn-primary m-2" (click)='loguser()'>ingresar como invitado</button> -->
        </form>
       
    </div>
  </div>
</div>
